#testologo{
    
    font-size: 70px;
}
.Ask{
    margin-top: 50px;
    border-radius:2px;
    background-color: rgb(71, 149, 238);
    color: white;   
}
.selection{
    margin-top: 20px;
    border-radius:2px;
    background-color:whitesmoke;
    color: grey;
}
.cross{
    border-radius:50%;
    border:3px solid red ;
    color: red;
}
ul li{
    list-style-type: none;
    position:relative;
}
.bullet{
    border-radius:50%;
    border:3px solid green ;
    color: green;
    
}
.button{
    border-radius:6px;
    background-color: rgb(71, 149, 238);
    color: white;
    border-left-width: 5px;

}
.button1{
    border-radius:10px;
    background-color: rgb(115, 71, 238);
    color: white;   
    
}
.button2{
    margin-left: 10px;
    border-radius:10px;
    background-color: rgb(80, 224, 217);
    color: white; 
}  
.button3{
        border-radius:10px;
        background-color: rgb(236, 150, 51);
        color: white; 
}  
.button4{
    border-radius:10px;
    background-color: rgb(230, 82, 180);
    color: white; 
}  
.button5{
        border-radius:10px;
        background-color: rgb(206, 233, 85);
        color: white; 
}
.container
{
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom:40px;
    margin-top: 20px;
    height:1000px;
    width: 1000px;
    background-color: rgb(216, 210, 210);
    background: rgba(202, 202, 202, 0.959);
    padding-left: 70px;
    padding-right: 50px;
}
.container1{
   
    margin-top: 20px;
    height: 900px;
    width: 700px;
    margin-left: 150px;
    margin-right: 150px;
    background: white;
    position:relative;
   
}
